:root {
  --primary-color: #00bd95;
}

body {
  background-color: #151a1e;
  font-family: "Poppins", sans-serif;
}
.container {
  display: block;
  margin: 60px auto;
  max-width: 600px;
  background-color: #070b0d;
  color: #fff;
  padding: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.clock {
  color: var(--primary-color);
  font-size: 40px;
}
h1,
label {
  text-align: center;
  color: var(--primary-color);
}

select {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.city {
  background-color: #151a1e;
  padding: 20px 0;
}
.city:hover {
  background-color: #151a1e57;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: var(--primary-color);
}
.time {
  font-size: 46px;
}
.time small {
  font-size: 22px;
  line-height: 48px;
  padding-top: 10px;
  padding-left: 8px;
}
.date {
  opacity: 0.7;
}
.btn-primary {
  display: block;
  margin: 0 auto;
  width: 100px;
  background-color: var(--primary-color);
  color: #070b0d;
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background-color: #070b0d;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
footer {
  color: #fff;
  text-align: center;
}
footer a {
  color: var(--primary-color);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
